<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.cloud.mapper.SafeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        safe_id, safe_type, safe_title, safe_content, safe_createTime
    </sql>
    <select id="selectBySafeId" resultType="com.sg.cloud.entity.Safe" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from safe
        where safe_id = #{safeId}
    </select>
</mapper>
